body{
    display: block;
    background-color: rgb(146, 79, 79);  
}
ol{
    background-color:rgb(10, 54, 54);
    border-radius: 5%;
    color:red;
    width: 70%;
    padding: 15px;
    margin: 10px;
}
.George{
    background-color: aqua;

}
#Olu{
    background-color: rgb(98, 98, 117);
}
img{
    height: 100px;
    width: 100px;
    border-radius: 50% ;
}